/* Footer css */
#footer {
  width: 100%;
  height: 70px;
  background-color: #6ebdf1;
  display: flex;
}

.left-content {
  width: 739px;
  height: 40px;
  background-color: white;
  margin: 0px 10px 20px 13px;
  border-radius: 3px;
}

.left-content .in-blue-content {
  width: 75%;
  height: 80%;
  background-color: #6ebdf1;
  margin: 4px;
  border-radius: 3px;
}

/* Social media icon css */
.social-media {
  width: 340px;
  height: 40px;
  margin-left: 10px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
}

.social-media .fab {
  font-weight: 400;
  font-size: 42px;
  color: white;
}
