/* General css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1130px;
  margin: auto;
}

#main-all-container {
  background-color: #6ebdf1;
  height: 78vh;
  position: relative;
}

#main-top-content {
  display: flex;
}
